# Hacker News time analytics

In [17]:
from csv import reader
import datetime as dt
open_file = open('hacker_news.csv')
read_file = reader(open_file)
hn = list(read_file)
print(hn[:5])

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'], ['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']]

In [4]:
headers = hn[0]
hn = hn[1:]
print(headers)
print(hn[:5])

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

In [9]:
ask_posts = []
show_posts = []
other_posts = []
for row in hn:
    title  = row[1]
    title = title.lower()
    if title.startswith('ask hn'):
        ask_posts.append(row)
    elif title.startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17194

In [13]:
#let's determine if ask posts or show posts 
#receive more comments on average.

total_ask_comments = 0
total_show_comments = 0

for row in ask_posts:
    num_comm = int(row[4])
    total_ask_comments += num_comm

avg_ask_comments = total_ask_comments / len(ask_posts)
print('There are', avg_ask_comments, 'ask comments on average')

for row in show_posts:
    num_comm = int(row[4])
    total_show_comments += num_comm

avg_show_comments = total_show_comments / len(show_posts)
print('There are', avg_show_comments, 'show comments on average')

There are 14.038417431192661 ask comments on average
There are 10.31669535283993 show comments on average

In [27]:
#1/26/2016 19:30' date example
result_list = []
for row in ask_posts:
    created_at = row[6]
    num_comm = int(row[4])
    result_list.append([created_at, num_comm])

print(result_list[:5])

[['8/16/2016 9:55', 6], ['11/22/2015 13:43', 29], ['5/2/2016 10:14', 1], ['8/2/2016 14:20', 3], ['10/15/2015 16:38', 17]]

In [45]:
import datetime as dt

counts_by_hour = {}
comments_by_hour = {}
date_format = "%m/%d/%Y %H:%M"
for row in result_list:
    time = row[0]
    comments = row[1]
    time_1 = dt.datetime.strptime(time, date_format)
    time_1 = time_1.strftime('%H')
    if time_1 in comments_by_hour and time_1 in counts_by_hour:
        comments_by_hour[time_1] += comments
        counts_by_hour[time_1] += 1
    else:
        comments_by_hour[time_1] = comments
        counts_by_hour[time_1] = 1


counts_by_hour

{'00': 55,
 '01': 60,
 '02': 58,
 '03': 54,
 '04': 47,
 '05': 46,
 '06': 44,
 '07': 34,
 '08': 48,
 '09': 45,
 '10': 59,
 '11': 58,
 '12': 73,
 '13': 85,
 '14': 107,
 '15': 116,
 '16': 108,
 '17': 100,
 '18': 109,
 '19': 110,
 '20': 80,
 '21': 109,
 '22': 71,
 '23': 68}

In [46]:
comments_by_hour

{'00': 447,
 '01': 683,
 '02': 1381,
 '03': 421,
 '04': 337,
 '05': 464,
 '06': 397,
 '07': 267,
 '08': 492,
 '09': 251,
 '10': 793,
 '11': 641,
 '12': 687,
 '13': 1253,
 '14': 1416,
 '15': 4477,
 '16': 1814,
 '17': 1146,
 '18': 1439,
 '19': 1188,
 '20': 1722,
 '21': 1745,
 '22': 479,
 '23': 543}

In [69]:
#Calculating average comments per question

avg_by_hour = []

for row in counts_by_hour:
    time = row
    average = comments_by_hour[row] / counts_by_hour[row]
    avg_by_hour.append([average, row])

avg_by_hour.sort(reverse = True)

print('Top Average time for posting')
print('\n')
for row in avg_by_hour:
    print(row[0], "-------", row[1])

Top Average time for posting


38.5948275862069 ------- 15
23.810344827586206 ------- 02
21.525 ------- 20
16.796296296296298 ------- 16
16.009174311926607 ------- 21
14.741176470588234 ------- 13
13.440677966101696 ------- 10
13.233644859813085 ------- 14
13.20183486238532 ------- 18
11.46 ------- 17
11.383333333333333 ------- 01
11.051724137931034 ------- 11
10.8 ------- 19
10.25 ------- 08
10.08695652173913 ------- 05
9.41095890410959 ------- 12
9.022727272727273 ------- 06
8.127272727272727 ------- 00
7.985294117647059 ------- 23
7.852941176470588 ------- 07
7.796296296296297 ------- 03
7.170212765957447 ------- 04
6.746478873239437 ------- 22
5.5777777777777775 ------- 09